.lounge-upper h2{
    font-size: 96px;
    font-weight: 500;
    color: white;
    font-family: 'cirika', sans-serif;
    margin-top: 100px;
}
.lounge-upper p{
    font-size: 46px;
    font-weight: 500;
    color: white;
    font-family: 'cirika', sans-serif;
}
.lounge-wrapper{
    padding-left: 110px;
    padding-right: 110px;
}
.lounge-upper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lounge-lower{
    display: flex;
    color: white;
    justify-content: space-between;
    margin-top: 115px;
    gap: 20px;
    align-items: center;
    
}
.lounge-option-outer >div{
    display: flex;
    align-items: center;
    gap: 30px;
    
}
.lounge-option-outer{
    position: relative;
}
.lounge-option-outer >div img{
    height: 124px;
    width: 124px;
}
.lounge-name{
    font-size: var(--lounge-name);
    font-weight: 700;
    color: white;
    font-family: 'cirika';
}
.lounge-location{
    font-size: 24px;
    font-weight: 500;
    color: #b7b7b7;
    font-family: 'cirika'
}
.lounge-img{
    margin-top: 70px;
    width: 100%;
}
.bg-light{
    width: 100%;
position: absolute;
    left: 0;
    bottom: 200px;
    filter: blur(24px);
}
.figma-button {
    position: relative;
     /* Adjust as needed */
    border: none;
    border-radius: 6px; /* Adjust the radius as needed */
    background: linear-gradient(200.74deg, rgba(214, 211, 194, 0.2) 0%, rgba(92, 92, 92, 0.14) 100%);
    backdrop-filter: blur(30.2px);
    color: white; /* Adjust text color as needed */
    cursor: pointer;
    overflow: hidden;
  }
  
  .figma-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    padding: 2px; /* This creates the border width */
    background: linear-gradient(200.74deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
  
  .figma-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3.49px -2.16px 5.65px 0px rgba(250, 250, 250, 0.22);
    border-radius: inherit;
    pointer-events: none;
  }
.lounge-btn{
    color: #f4d8b3;
    height: 74px;
    width: 328px;
    padding: 10px 18px;
    font-size: 28px;
    font-family: 'cirika';
    margin-top: 60px;
    font-weight: 600;
}


